.boundingWrapper {
    position: relative;
    width: max-content;
    height: max-content;
    border: 2px solid #2d2d2d;

    &.isDragOver {
        border: dashed #ffde00;
    }

    .dropMessage {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10000;
        text-align: center;
        color: white;
    }

    canvas {
        /* to see where the canvas is */
        border: 1px solid red;
    }
}