$palette: (
	primary: (
		dark: #6333ff,
		light: #e5adff,
	),
	accent: (
		dark: #0eb56f,
		light: #abe1ff,
	),
	background: (
		content: #2f1e5e,
		main: #1a1a22,
	),
	statuses: (
		error: #ac1818,
		muted: #8c8c8c,
	),
	inneres: (
		placeholder: #ddd,
	)
);

@function color($color, $tone) {
	@if map-has-key($palette, $color) {
		$color: map-get($palette, $color);

		@if map-has-key($color, $tone) {
			$tone: map-get($color, $tone);

			@return $tone;
		}

		@warn "unknown tone `#{$tone}` in color";

		@return null;
	}

	@warn 'unknown color `#{$color}` in palette';

	@return null;
}
